html
  head
    title BizCaz
  body
    center.container
      h1= currentDate
      h1 BizCaz?
      h1= message
      a(href="../../" + previousDay) Previous
      img(src=image, width=192, height=300)
      a(href="../../" + nextDay) Next
