@import './bootstrap.min.css';
body {
  padding-top: 1rem;
}
.starter-template { 
  text-align: center;
}

.monthChanger{
color: #0275d8;
padding: 15px;
cursor: pointer;
}

.adminRow td {
  vertical-align: middle;
}